# Sistema operativo
.DS_Store
**/.DS_Store
Thumbs.db

# Dependencias
node_modules/

# Variables de entorno / secretos
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Archivos de respaldo
*copy.html
*.bak
